rules_version = '2';


service cloud.firestore {
  match /databases/{database}/documents {
    match /INMUEBLES/{document=**} {
      allow read, write: if true;  // 🔥 Solo para pruebas, NO en producción
    }
  }
}